.row
{
    padding: 40px;
    

}
.card
{
    width:200px;
    margin: 4px;
    background-color: rgb(41, 139, 28);
}
body
{
    background-color: dimgray;
}
.projectInfo
{
margin-left: auto;
margin-right: auto;
width: 560px;



}
iframe
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

